# Práctica I

## Extracción de los datos

### Funciones de utilidad

Importación de las librerías necesarias

In [47]:
import pandas as pd
import requests, json

Se crea una función que permite extrare el data frame a partir del código del juego de datos

In [48]:
def get_raw_data_frame( key, gziped ): 
    
    # url_template = 'https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/%s$DEFAULTVIEW/?format=TSV&compressed=false' 
    
    url_template =  'https://ec.europa.eu/eurostat/databrowser-backend/api/extraction/1.0/LIVE/false/tsv/%s?i'

    url = url_template % key

    return pd.read_table( url, compression = 'gzip' ) if gziped else  pd.read_table(  url )

Extraer el país a partir de la primera columna del dataframe

In [49]:
def extract_country( data ):
    
    new_data = data.rename( columns={data.iloc[:, 0].name :'country'} )

    new_data['country'] = new_data['country'].str.replace(r'^.*,(.*)$', r'\1', regex=True)
    
    return new_data

Eliminar espacios en los nombres de las columnas

In [50]:
def trim_column_names( data ):
    
    for col in data.columns:
    
        data = data.rename( columns={col :col.strip()} )
    
    return data

Limpia, trata y transforma todas las columnas que son númericas

In [51]:
def clean_numeric_columns( data ):
   
   data.iloc[:,1:] = data.iloc[:,1:].replace(
        r'^.*[:].*$', None, regex=True # Not available and confidencial flag
   ).replace(
        r'e', '', regex=True # Remove flag estimated
   ).replace(
        r'd', '', regex=True # Remove flag definition differs
   ).replace( 
        r'^(.+) +$', r'\1', regex = True # rTrim
   ).replace( 
        r'^ +(.+)$', r'\1', regex = True # lTrim>
   )
   
   for col in  data.iloc[:,1:].columns :    
        data[col] = pd.to_numeric( data[col] )
    
   return data

Función que filtra los valores por el filtro

In [52]:
def filter_data( filter ): 
    def _filter_data( data ):
        new_data = data[data.iloc[:, 0].str.contains( filter )]    
        new_data.reset_index(inplace = True, drop = True)
        return new_data
    return _filter_data

Función que obtiene el maestro de países, que permite obtener el nombre del país a partir de su identificador

In [53]:
def get_country_names():
    url = requests.get("https://ec.europa.eu/eurostat/databrowser-backend/api/codelist/LIVE/GEO/getCodeListJson/9.0/ESTAT/en/false")
    text = url.text
    data = json.loads(text)
    return data['category']['label']

Función que añade la columna con el nombre de los países

In [54]:
def add_column_country_name(data):    
    country_names = country_names = get_country_names()    
    data.insert(
        1, 
        'country_name', 
        data.country.map(lambda v: country_names[v] ), 
        True
    )
    return data

Función que realiza todo el proceso de extración y limpieza de los datos

In [55]:
class Compose:
    _f = None
    def __init__(self, f):
        self._f = f
    def andThen( self, g ):
        return Compose( lambda s: ( g( self._f(s) ) ) )
    def apply(self, a): 
        return self._f( a )

def flow( filter ) :
    return Compose( 
        filter_data( filter )
    ).andThen(
        extract_country
    ).andThen(
        trim_column_names 
    ).andThen( 
        clean_numeric_columns 
    ).andThen( 
        add_column_country_name
    )

def dataframe_by_key( key, filter, gziped = False ):
        return flow(filter).apply(  get_raw_data_frame( key, gziped ) )

Función que permite exportar el dataframe a fichero CSV

In [56]:
def export_dataframe( df, file_name, directory ):
    file = '/home/jovyan/work/%s/%s.csv' % (directory, file_name )
    df.to_csv(file )

### _DATASET I_: Precio de Gas doméstico en € por kw/h

Obtenido del origen de datos [Gas prices components for household consumers - annual data](https://ec.europa.eu/eurostat/databrowser/view/nrg_pc_202_c/default/table?lang=en)

Clave de identificación de los datos: **`NRG_PC_202_C`**

Se filtrarán los datos por:

 - Datos anuales
 - Componentes del precio de la energia: _"Energia y suministro "_
 - Consumición de la energía: En Giga Julios en todas las bandas
 - Moneda: Euro (€)
 - Unidad de medida: Kiolwatio-hora

In [57]:
data_gas_prices_household_consumers = dataframe_by_key( 
    key    = 'NRG_PC_202_C', 
    filter = 'A,NRG_SUP,TOT_GJ,EUR,KWH'
)

Columnas del dataset:

In [58]:
display( data_gas_prices_household_consumers.dtypes )

country          object
country_name     object
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
dtype: object

Ejemplo de valores:

In [59]:
data_gas_prices_household_consumers

,country,country_name,2017,2018,2019,2020,2021
0,AT,Austria,0.0299,0.0304,0.0312,0.0308,0.0316
1,BA,Bosnia and Herzegovina,0.0240,0.0240,0.0249,0.0258,NaN
2,BE,Belgium,0.0283,0.0288,0.0289,0.0252,0.0315
3,BG,Bulgaria,0.0170,0.0209,0.0240,0.0177,0.0331
4,CZ,Czechia,0.0360,0.0390,0.0455,0.0431,0.0448
5,DE,Germany (until 1990 former territory of the FRG),NaN,NaN,0.0278,0.0292,0.0293
6,DK,Denmark,0.0234,0.0259,0.0209,0.0160,0.0415
7,EA,"Euro area (EA11-1999, EA12-2001, EA13-2007, EA...",0.0295,0.0303,0.0319,0.0302,NaN
8,EE,Estonia,0.0234,0.0239,0.0253,0.0240,0.0361
9,EL,Greece,NaN,0.0311,0.0338,0.0258,NaN
10,ES,Spain,NaN,NaN,0.0318,0.0277,0.0313
11,EU27_2020,European Union - 27 countries (from 2020),0.0275,0.0284,0.0310,0.0292,NaN
12,FR,France,0.0310,0.0317,0.0342,0.0310,0.0325
13,GE,Georgia,NaN,0.0080,0.0075,0.0059,0.0058
14,HR,Croatia,0.0206,0.0212,0.0229,0.0234,0.0221
15,HU,Hungary,0.0190,0.0183,0.0184,0.0156,0.0164
16,IE,Ireland,0.0302,0.0304,0.0351,0.0325,0.0328
17,IT,Italy,NaN,NaN,0.0366,0.0327,0.0354
18,LI,Liechtenstein,0.0257,0.0253,0.0293,0.0257,0.0319
19,LT,Lithuania,0.0174,0.0216,0.0238,0.0183,0.0182
20,LU,Luxembourg,0.0216,0.0245,0.0258,0.0212,0.0291
21,LV,Latvia,0.0207,0.0230,0.0227,0.0133,NaN
22,MD,Moldova,0.0234,0.0186,0.0210,0.0194,0.0232
23,MK,North Macedonia,0.0371,0.0357,0.0454,0.0380,NaN
24,NL,Netherlands,0.0293,0.0305,0.0339,0.0316,0.0300
25,PL,Poland,0.0237,0.0246,0.0274,0.0243,0.0236
26,PT,Portugal,0.0333,0.0326,0.0347,0.0357,NaN
27,RO,Romania,0.0168,0.0197,0.0204,0.0192,0.0237
28,RS,Serbia,0.0264,0.0266,0.0267,0.0265,0.0263
29,SE,Sweden,0.0314,0.0405,0.0405,0.0450,0.0817
30,SI,Slovenia,0.0243,0.0255,0.0267,0.0254,0.0264
31,SK,Slovakia,0.0213,0.0218,0.0234,0.0240,0.0195
32,TR,Turkey,0.0159,0.0118,0.0142,0.0126,0.0110
33,UA,Ukraine,NaN,0.0000,0.0000,0.0183,NaN
34,UK,United Kingdom,0.0308,0.0329,0.0346,NaN,NaN

Exportación del dataframe

In [60]:
export_dataframe( 
    df = data_gas_prices_household_consumers, 
    file_name = 'data_gas_prices_household_consumers', 
    directory = 'subdataset' 
)

### _DATASET II_: Precio de Gas no doméstico en € por kw/h

Obtenido del origen de datos [Gas prices components for non-household consumers - annual data](https://ec.europa.eu/eurostat/databrowser/view/nrg_pc_203_c/default/table?lang=en)

Clave de identificación de los datos: **`NRG_PC_203_C`**

Se filtrarán los datos por:

 - Datos anuales
 - Componentes del precio de la energia: _"Energia y suministro "_
 - Consumición de la energía: En Giga Julios en todas las bandas
 - Moneda: Euro (€)
 - Unidad de medida: Kiolwatio-hora

In [61]:
data_gas_prices_no_household_consumers = dataframe_by_key( 
    key    = 'NRG_PC_203_C', 
    filter = 'A,NRG_SUP,TOT_GJ,EUR,KWH'
)

Columnas del dataset:

In [62]:
display( data_gas_prices_no_household_consumers.dtypes )

country          object
country_name     object
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
dtype: object

Ejemplo de valores:

In [63]:
data_gas_prices_no_household_consumers

,country,country_name,2017,2018,2019,2020,2021
0,AT,Austria,NaN,NaN,0.0184,0.0168,0.0297
1,BA,Bosnia and Herzegovina,NaN,NaN,0.0257,0.0259,0.0248
2,BE,Belgium,NaN,NaN,0.0189,0.0148,0.0318
3,BG,Bulgaria,NaN,NaN,0.0213,0.0142,0.0299
4,CZ,Czechia,NaN,NaN,0.0226,0.0192,NaN
5,DE,Germany (until 1990 former territory of the FRG),NaN,NaN,0.0196,0.0171,0.0262
6,DK,Denmark,0.0194,0.0234,0.0178,0.0137,0.0448
7,EA,"Euro area (EA11-1999, EA12-2001, EA13-2007, EA...",0.0220,0.0240,0.0211,0.0175,NaN
8,EE,Estonia,NaN,NaN,0.0213,0.0155,0.0352
9,EL,Greece,NaN,NaN,0.0260,0.0165,NaN
10,ES,Spain,NaN,NaN,0.0226,0.0157,NaN
11,EU27_2020,European Union - 27 countries (from 2020),0.0220,0.0240,0.0213,0.0176,NaN
12,FI,Finland,NaN,NaN,0.0219,0.0141,0.0342
13,FR,France,0.0220,0.0240,0.0223,0.0191,0.0304
14,GE,Georgia,NaN,NaN,0.0187,0.0150,0.0158
15,HR,Croatia,NaN,NaN,0.0241,0.0222,0.0304
16,HU,Hungary,NaN,NaN,0.0199,0.0158,0.0319
17,IE,Ireland,NaN,NaN,0.0191,0.0142,NaN
18,IT,Italy,NaN,NaN,0.0237,0.0193,0.0287
19,LT,Lithuania,NaN,NaN,0.0177,0.0127,0.0387
20,LU,Luxembourg,NaN,NaN,0.0198,0.0160,0.0341
21,LV,Latvia,NaN,NaN,0.0220,0.0158,0.0248
22,MD,Moldova,NaN,NaN,0.0189,0.0175,0.0199
23,MK,North Macedonia,NaN,NaN,0.0285,NaN,NaN
24,NL,Netherlands,NaN,NaN,0.0195,0.0166,0.0287
25,PL,Poland,NaN,NaN,0.0250,0.0201,0.0303
26,PT,Portugal,NaN,NaN,0.0239,0.0193,0.0247
27,RO,Romania,NaN,NaN,0.0218,0.0185,0.0265
28,RS,Serbia,NaN,NaN,0.0311,0.0221,0.0234
29,SE,Sweden,NaN,NaN,0.0185,0.0180,0.0428
30,SI,Slovenia,NaN,NaN,0.0222,0.0193,0.0264
31,SK,Slovakia,NaN,NaN,0.0229,0.0207,0.0249
32,TR,Turkey,NaN,NaN,0.0196,0.0147,0.0175
33,UA,Ukraine,NaN,NaN,0.0000,0.0142,NaN
34,UK,United Kingdom,NaN,NaN,0.0200,NaN,NaN

Exportación del dataframe

In [64]:
export_dataframe( 
    df = data_gas_prices_no_household_consumers, 
    file_name = 'data_gas_prices_no_household_consumers', 
    directory = 'subdataset' 
)

### _DATASET III_: Precio de la electricidad doméstica para la franja de 2.500 a 4.999 kWh

Obtenido del origen de datos [Electricity prices components for household consumers - annual data (from 2007 onwards)](https://ec.europa.eu/eurostat/databrowser/view/NRG_PC_204_C__custom_2388428/default/table?lang=en)

Clave de identificación de los datos: **`NRG_PC_204_C__custom_2388428`**

Se filtrarán los datos por:

 - Datos anuales
 - Consumición de la energía: Consumición entre 2500 kWh y 4999 kWh
 - Componentes del precio de la energia: _"Energia y suministro "_
 - Moneda: Euro (€)

In [65]:
data_electricity_prices_household_consumers = dataframe_by_key( 
    key    = 'NRG_PC_204_C__custom_2388428', 
    filter = 'A,KWH2500-4999,NRG_SUP,EUR', 
    gziped = True 
)

Columnas del dataset:

In [66]:
display( data_electricity_prices_household_consumers.dtypes )

country          object
country_name     object
2012-S2         float64
2013-S2         float64
2014-S2         float64
2015-S2         float64
2016-S2         float64
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
dtype: object

Ejemplo de valores:

In [67]:
data_electricity_prices_household_consumers

,country,country_name,2012-S2,2013-S2,2014-S2,2015-S2,2016-S2,2017,2018,2019,2020,2021
0,AL,Albania,NaN,NaN,NaN,NaN,NaN,0.0713,0.0759,0.0778,NaN,NaN
1,AT,Austria,NaN,NaN,NaN,NaN,NaN,0.0613,0.0623,0.0687,0.0732,0.0745
2,BA,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,0.0342,0.0338,0.0361,0.0365,NaN
3,BE,Belgium,NaN,NaN,NaN,NaN,NaN,0.0735,0.0808,0.0859,0.0786,0.0844
4,BG,Bulgaria,NaN,NaN,NaN,NaN,NaN,0.0575,0.0585,0.0558,0.0560,0.0608
5,CY,Cyprus,NaN,NaN,NaN,NaN,NaN,0.1036,0.1157,0.1241,0.1042,0.1094
6,CZ,Czechia,NaN,NaN,NaN,NaN,NaN,0.0541,0.0570,0.0690,0.0749,0.0979
7,DE,Germany (until 1990 former territory of the FRG),NaN,NaN,NaN,NaN,NaN,0.0686,0.0622,0.0581,0.0574,0.0803
8,DK,Denmark,NaN,NaN,NaN,NaN,NaN,0.0388,0.0503,0.0539,0.0409,0.0747
9,EA,"Euro area (EA11-1999, EA12-2001, EA13-2007, EA...",NaN,NaN,NaN,NaN,NaN,0.0760,0.0801,0.0727,0.0697,NaN
10,EE,Estonia,NaN,NaN,NaN,NaN,NaN,0.0442,0.0518,0.0533,0.0444,0.0764
11,EL,Greece,NaN,NaN,NaN,NaN,NaN,0.0840,0.0863,0.0900,0.1021,0.1182
12,ES,Spain,NaN,NaN,NaN,NaN,NaN,0.1199,0.1458,0.0668,0.0541,NaN
13,EU27_2020,European Union - 27 countries (from 2020),NaN,NaN,NaN,NaN,NaN,0.0698,0.0741,0.0686,0.0655,NaN
14,FI,Finland,NaN,NaN,NaN,NaN,NaN,0.0483,0.0498,0.0554,0.0532,0.0557
15,FR,France,NaN,NaN,NaN,NaN,NaN,0.0606,0.0612,0.0655,0.0701,0.0727
16,GE,Georgia,NaN,NaN,NaN,NaN,NaN,NaN,0.0329,0.0364,0.0426,0.0487
17,HR,Croatia,NaN,NaN,NaN,NaN,NaN,0.0575,0.0583,0.0589,0.0580,0.0579
18,HU,Hungary,NaN,NaN,NaN,NaN,NaN,0.0462,0.0448,0.0419,0.0352,0.0341
19,IE,Ireland,NaN,NaN,NaN,NaN,NaN,0.1039,0.1146,0.1252,0.1097,0.1233
20,IS,Iceland,NaN,NaN,NaN,NaN,NaN,0.0489,0.0483,0.0470,0.0407,0.0438
21,IT,Italy,NaN,NaN,NaN,NaN,NaN,0.0958,0.1043,0.0964,0.0925,0.1127
22,LI,Liechtenstein,NaN,NaN,NaN,NaN,NaN,0.0645,0.0783,0.0817,0.0827,0.0859
23,LT,Lithuania,NaN,NaN,NaN,NaN,NaN,0.0382,0.0350,0.0478,0.0484,0.0505
24,LU,Luxembourg,NaN,NaN,NaN,NaN,NaN,0.0530,0.0548,0.0581,0.0668,0.0682
25,LV,Latvia,NaN,NaN,NaN,NaN,NaN,0.0474,0.0492,0.0593,0.0567,0.0725
26,MD,Moldova,NaN,NaN,NaN,NaN,NaN,0.0661,0.0630,0.0607,0.0648,0.0554
27,ME,Montenegro,NaN,NaN,NaN,NaN,NaN,0.0378,0.0400,0.0416,0.0428,4.2835
28,MK,North Macedonia,NaN,NaN,NaN,NaN,NaN,0.0516,0.0504,0.0475,0.0493,NaN
29,MT,Malta,NaN,NaN,NaN,NaN,NaN,0.0985,0.0980,0.0971,0.0906,0.0953
30,NL,Netherlands,NaN,NaN,NaN,NaN,NaN,0.0615,0.0643,0.0780,0.0779,0.0792
31,NO,Norway,NaN,NaN,NaN,NaN,NaN,0.0433,0.0575,0.0553,0.0254,0.0768
32,PL,Poland,NaN,NaN,NaN,NaN,NaN,0.0459,0.0443,0.0426,0.0469,0.0442
33,PT,Portugal,NaN,NaN,NaN,NaN,NaN,0.0561,0.0525,0.0713,0.0702,0.0726
34,RO,Romania,NaN,NaN,NaN,NaN,NaN,0.0485,0.0569,0.0586,0.0612,0.0710
35,RS,Serbia,NaN,NaN,NaN,NaN,NaN,0.0240,0.0251,0.0259,0.0252,0.0236
36,SE,Sweden,NaN,NaN,NaN,NaN,NaN,0.0390,0.0508,0.0526,0.0410,0.0736
37,SI,Slovenia,NaN,NaN,NaN,NaN,NaN,0.0544,0.0551,0.0590,0.0645,0.0663
38,SK,Slovakia,NaN,NaN,NaN,NaN,NaN,0.0391,0.0442,0.0543,0.0663,0.0610
39,TR,Turkey,NaN,NaN,NaN,NaN,NaN,0.0501,0.0430,0.0480,0.0406,0.0376
40,UA,Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN
41,UK,United Kingdom,NaN,NaN,NaN,NaN,NaN,0.0820,0.0956,0.0989,NaN,NaN
42,XK,Kosovo (under United Nations Security Council ...,NaN,NaN,NaN,NaN,NaN,0.0334,0.0320,0.0191,0.0217,0.0252

Exportación del dataframe

In [68]:
export_dataframe( 
    df = data_electricity_prices_household_consumers, 
    file_name = 'data_electricity_prices_household_consumers', 
    directory = 'subdataset' 
)

### _DATASET IV_: Precio de la electricidad no doméstica

Obtenido del origen de datos [Electricity prices components for non-household consumers - annual data (from 2007 onwards)](https://ec.europa.eu/eurostat/databrowser/view/nrg_pc_205_c/default/table?lang=en)

Clave de identificación de los datos: **`NRG_PC_205_C`**

Se filtrarán los datos por:

 - Datos anuales
 - Componentes del precio de la energia: _"Energia y suministro "_
 - Consumición de la energía: Consumición menos de 20 MWh 
 - Moneda: Euro (€)

In [69]:
data_electricity_prices_no_household_consumers = dataframe_by_key(
    key    = 'NRG_PC_205_C', 
    filter = 'A,NRG_SUP,MWH_LT20,EUR'
)

Columnas del dataset:

In [70]:
display( data_electricity_prices_no_household_consumers.dtypes )

country          object
country_name     object
2007-S2         float64
2008-S2         float64
2009-S2         float64
2010-S2         float64
2011-S2         float64
2012-S2         float64
2013-S2         float64
2014-S2         float64
2015-S2         float64
2016-S2         float64
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
dtype: object

Ejemplo de valores:

In [71]:
data_electricity_prices_no_household_consumers

,country,country_name,2007-S2,2008-S2,2009-S2,2010-S2,2011-S2,2012-S2,2013-S2,2014-S2,2015-S2,2016-S2,2017,2018,2019,2020,2021
0,AT,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0598,0.0610,0.0654,0.0702,0.0723
1,BA,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0649,0.0621,0.0624,0.0648,NaN
2,BE,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0672,0.0624,0.0663,0.0745,0.0890
3,BG,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0817,0.0810,0.0764,0.0730,0.1075
4,CY,Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1187,0.1240,0.1271,0.1055,0.1136
5,CZ,Czechia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0580,0.0602,0.0721,0.0811,0.0848
6,DE,Germany (until 1990 former territory of the FRG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0468,0.0612,0.0525,0.0651,0.0707
7,DK,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0433,0.0514,0.0517,0.0426,0.0898
8,EA,"Euro area (EA11-1999, EA12-2001, EA13-2007, EA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0757,0.0837,0.0794,0.0780,NaN
9,EE,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0406,0.0489,0.0516,0.0440,0.0850
10,EL,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0810,0.0876,0.0912,0.0933,0.1444
11,ES,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1541,0.1877,0.1242,0.0854,NaN
12,EU27_2020,European Union - 27 countries (from 2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0711,0.0781,0.0754,0.0746,NaN
13,FI,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0455,0.0482,0.0509,0.0515,0.0564
14,FR,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0641,0.0636,0.0685,0.0757,0.0793
15,GE,Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0364,0.0363,0.0413,0.0634
16,HR,Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0574,0.0613,0.0756,0.0728,0.0818
17,HU,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0536,0.0573,0.0695,0.0680,0.0762
18,IE,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0959,0.1091,0.1236,0.1189,0.1571
19,IS,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0426,0.0433,0.0394,NaN
20,IT,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0949,0.1022,0.1112,0.1067,0.1353
21,LT,Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0461,0.0488,0.0542,0.0473,NaN
22,LU,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0581,0.0580,0.0615,0.0607,0.0720
23,LV,Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0515,0.0540,0.0597,0.0567,0.0787
24,MD,Moldova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0675,0.0646,0.0609,0.0637,0.0542
25,ME,Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0428,0.0444,0.0461,4.6084
26,MK,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0517,0.0505,0.0515,0.0540,NaN
27,MT,Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1704,0.1735,0.2121,0.2144,0.2082
28,NL,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NO,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0348,0.0480,0.0462,0.0168,0.0621
30,PL,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0629,0.0609,0.0602,0.0670,0.0651
31,PT,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0599,0.0593,0.0674,0.0806,0.0747
32,RO,Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0468,0.0539,0.0636,0.0711,0.0801
33,RS,Serbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0364,0.0389,0.0395,0.0393,0.0379
34,SE,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0348,0.0434,0.0462,0.0373,0.0692
35,SI,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0440,0.0510,0.0577,0.0639,0.0641
36,SK,Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0464,0.0526,0.0633,0.0721,0.0725
37,TR,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0533,0.0446,0.0660,0.0516,0.0518
38,UA,Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0599,NaN
39,UK,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0871,0.1015,0.0912,NaN,NaN
40,XK,Kosovo (under United Nations Security Council ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1209,0.1389,0.0877,0.0972,0.1009

Exportación del dataframe

In [72]:
export_dataframe( 
    df = data_electricity_prices_no_household_consumers, 
    file_name = 'data_electricity_prices_no_household_consumers', 
    directory = 'subdataset' 
    
)

TypeError: export_dataframe() missing 1 required positional argument: 'directory'

In [ ]:
# PRUEBAS BORRAR


# PRUEBAS BORRAR